.bookingComponent{
    height: 100vh;
    width: 100%;
    background-color: rgba(46, 46, 46, 0.959);
    display: flex;
    align-items:center;
    justify-content: center;
    .bookingContainer{
        width: 600px;
        height: 320px;
        background-color: #fff;
        padding: 10px 20px;
        margin:30px;
        color: #2a3589;;

        .book-image{
            width: 30px;
            height: 30px;
            .image-fit{
                width: 100%;
                height: 100%;
            }
        }
        .cursor-pointer{
            cursor: pointer;
        }
        .book-text{
            font-size: 16px;
            margin: 0 10px;
        }

        .head-content{
            padding: 10px 0 20px 0 ;
            display: flex;
            align-items: center;
        }

        .booking-feature{
            border:1px solid #2a3589;
            .no-border{
                border-bottom: none !important;
            }
            .individual-part{
                padding: 10px 0;
                margin: 0 10px;
                border-bottom: 1px solid #2a3589;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 60px;
                
                .left-content{
                    display: flex;
                    align-items: center;
                }

                .right-content{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .count{
                        padding: 0px 10px;
                        width: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }
}